<div class="login">
  <div class="login__body">
    <mat-toolbar color="primary">
      <span>Логин</span>
    </mat-toolbar>
    <form class="login__form">
      <mat-form-field class="login__field">
        <mat-label>Логин</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field class="login__field">
        <mat-label>Пароль</mat-label>
        <input matInput type="password">
      </mat-form-field>
      <div class="login__field row row_between">
        <mat-checkbox color="primary">
          Запомнить меня
        </mat-checkbox>
        <button mat-raised-button
                color="primary">
          Войти
        </button>
      </div>
    </form>
  </div>
</div>
